.class1{
    background-color:lightblue;
    border: black solid 3px;
    flex-basis: 40%;
}
.class2{
    background-color: blue;
    border: black solid 3px;
    flex-basis: 60%;
}
.maindiv{
    border: black solid 3px;
}
.dotdiv{
    background-color: lightgreen;
    border: black solid 3px;
}
#picture{
    border-radius: 30%;
    height: 200px;
    width: 200px;
}
#name{
    color: white;
}
h3{
    color: white;
}
.flexy{
    display: flex;

}


